@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #df8f97;
  overflow-x: hidden;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 1.5em;
  font-size: 1em;
  font-weight: bold;
}

a {
  text-decoration: none;
}
a p {
  display: inline;
}

p {
  color: #fff;
  font-size: 1.2em;
}

.hidden-xs {
  display: none;
}
@media (min-width: 768px) {
  .hidden-xs {
    display: block;
  }
}

section {
  position: relative;
  height: 100vh;
  margin: 0 auto;
}

nav {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 5;
}
nav a {
  color: #fff;
  margin-left: 10px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
}
.content .content__illustration {
  position: absolute;
}

.blood {
  width: 300px;
  height: 300px;
  transform-origin: bottom;
  position: absolute;
}
.blood .blood__drop {
  position: absolute;
  display: block;
  background-color: #db1212;
  border-radius: 50%;
  animation: blood 2s infinite alternate;
}
.blood .blood__drop:before, .blood .blood__drop:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #db1212;
  border-radius: 50%;
  animation: blood 2.5s infinite alternate;
  transform-origin: top left;
}
.blood .blood__drop:before {
  width: 50px;
  height: 50px;
  bottom: -70px;
  left: 20px;
}
.blood .blood__drop:after {
  width: 30px;
  height: 30px;
  bottom: -90px;
  right: -40px;
}
.blood .blood__drop--1 {
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  transform-origin: bottom;
}
.blood .blood__drop--2 {
  width: 100px;
  height: 100px;
  left: -50px;
  bottom: 0;
  transform-origin: top right;
}
@media (min-width: 768px) {
  .blood .blood__drop--3 {
    width: 50px;
    height: 50px;
    bottom: -50px;
    right: 100px;
    transform-origin: top left;
  }
}

@keyframes blood {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
@media (min-width: 768px) {
  .add--blood {
    position: relative;
    display: block;
  }
  .add--blood:before, .add--blood:after {
    content: "";
    position: absolute;
    display: block;
    background-color: #db1212;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: blood 3s infinite alternate;
  }
  .add--blood:before {
    width: 40px;
    height: 40px;
    bottom: 0;
    left: -30px;
  }
  .add--blood:after {
    bottom: -10px;
    left: 10px;
  }
}
.section--intro {
  overflow: hidden;
}

.textBox--intro {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  z-index: 3;
  margin-top: 30vh;
}
@media (min-width: 768px) {
  .textBox--intro {
    width: 50%;
    margin-left: 25%;
  }
}
.textBox--intro .logo {
  max-width: 400px;
  display: inline-block;
}
.textBox--intro p {
  margin-top: 30px;
}

.blood--1 {
  top: -100px;
  left: -20px;
}

.blood--2 {
  bottom: 26%;
  right: 6%;
  transform: rotate(200deg);
}
.blood--2 .blood {
  animation: blood 3s -0.5s infinite alternate;
}

@keyframes boat {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
@keyframes wave {
  from {
    margin-left: -1%;
  }
  to {
    margin-left: -4%;
  }
}
@keyframes sac--big {
  to {
    transform: rotate(-10deg);
  }
}
@keyframes sac--small {
  to {
    transform: rotate(10deg);
  }
}
@keyframes air--bubble {
  from {
    transform: scale(1);
    bottom: 37vw;
  }
  to {
    transform: scale(0.7);
    bottom: 60vw;
  }
}
.city__boat {
  width: 30%;
  right: 15%;
  bottom: 17vw;
  transform-origin: 50% 15%;
  animation: boat 1.5s ease-in-out infinite alternate;
  cursor: pointer;
  z-index: 1;
}
@media (min-width: 768px) {
  .city__boat {
    bottom: 10.5vw;
  }
}

.city__city {
  width: 80%;
  left: 10%;
  bottom: 24vw;
}
@media (min-width: 768px) {
  .city__city {
    bottom: 15vw;
  }
}

.city__weave {
  width: 110%;
  height: auto;
  left: -1%;
  animation: wave 1.5s ease-in-out -0.7s infinite alternate;
}
.city__weave.city__weave--1 {
  bottom: 0%;
  z-index: 3;
}
@media (min-width: 768px) {
  .city__weave.city__weave--1 {
    bottom: -3vw;
  }
}
.city__weave.city__weave--2 {
  bottom: 8vw;
  z-index: 2;
  animation: wave 1.5s ease-in-out infinite alternate;
  animation-delay: -15s;
}
@media (min-width: 768px) {
  .city__weave.city__weave--2 {
    bottom: 2vw;
  }
}
.city__weave.city__weave--3 {
  bottom: 16vw;
  z-index: 1;
}
@media (min-width: 768px) {
  .city__weave.city__weave--3 {
    bottom: 7vw;
  }
}

.underwarter__ground {
  width: 100vw;
  bottom: 0;
}

.underwarter__sack.underwarter__sack--small {
  width: 8%;
  right: 24%;
  bottom: 17vw;
  animation: sac--small 2s ease-in-out -1s infinite alternate;
}
.underwarter__sack.underwarter__sack--big {
  width: 20%;
  margin-left: 22%;
  bottom: 7vw;
  animation: sac--big 2s ease-in-out infinite alternate;
}

.air {
  height: 60px;
  width: 50px;
  bottom: 37vw;
  right: 30vw;
  transform: rotate(180deg);
}
.air .air__bubbles {
  background-color: #fff;
  transform-origin: bottom;
  animation: air--bubble 2s infinite alternate;
}
.air .air__bubbles:before, .air .air__bubbles:after {
  background-color: #fff;
  content: none;
}
.air .air__bubbles--1 {
  width: 10px;
  height: 10px;
  top: 35px;
  left: 0px;
}
.air .air__bubbles--2 {
  width: 15px;
  height: 15px;
  top: 15px;
  left: 8px;
}
.air .air__bubbles--3 {
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}

@keyframes pipette {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@keyframes blood_glas {
  from {
    height: 20%;
  }
  to {
    height: 70%;
  }
}
@keyframes microscope--eye {
  from {
    margin-bottom: 80%;
  }
  to {
    margin-bottom: 61%;
  }
}
@keyframes microscope--button {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-160deg);
  }
}
@keyframes blood-on-glas--grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.blättchen {
  position: absolute;
  display: block;
  width: 60%;
  height: 20px;
  top: auto;
  right: 20%;
  bottom: 10%;
  left: auto;
  background-color: #ECECEC;
}
@media (min-width: 768px) {
  .blättchen {
    width: 25%;
    right: 38%;
  }
}
.blättchen::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #db1212;
  width: 20vw;
  height: 20px;
  bottom: 20px;
  left: 30%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  animation: blood-on-glas--grow 3s ease-in-out infinite alternate;
}
@media (min-width: 768px) {
  .blättchen::before {
    width: 10vw;
    left: 30%;
  }
}

.pipette {
  position: absolute;
  display: block;
  width: 10%;
  height: auto;
  top: auto;
  right: 30%;
  bottom: 17%;
  left: auto;
  background-color: transparent;
  transform: rotate(30deg);
}
@media (min-width: 768px) {
  .pipette {
    width: 6vw;
    right: 40%;
  }
}
.pipette::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #db1212;
  background-color: #db1212;
  width: 51%;
  height: 40%;
  bottom: 13.8%;
  left: 25%;
  animation: pipette 3s ease-in-out infinite alternate;
  transform-origin: bottom;
}

.table {
  position: absolute;
  display: block;
  width: 85%;
  height: 24vw;
  top: auto;
  right: auto;
  bottom: 0%;
  left: 0%;
  background-color: #fff;
}
.table::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #db1212;
  height: 20px;
  top: 0;
  right: -30px;
  left: 0;
  background-color: #ECECEC;
}
@media (min-width: 768px) {
  .table {
    width: 90%;
    height: 7vw;
  }
}

.bloodTest {
  position: absolute;
  width: 16%;
  left: 6%;
  bottom: 24vw;
}
@media (min-width: 768px) {
  .bloodTest {
    width: 10%;
    left: 10%;
    bottom: 7vw;
  }
}

.glas {
  position: absolute;
  width: 30%;
  bottom: 0;
}
.glas::after {
  animation: blood_glas 2s ease-in-out infinite alternate;
  content: "";
  position: absolute;
  display: block;
  background-color: #db1212;
  background-color: #db1212;
  height: 30px;
  width: 76%;
  right: 12%;
  bottom: 0;
}
.glas--1::after {
  animation-delay: -1s;
}
.glas--2 {
  right: 35%;
}
.glas--2::after {
  animation-delay: -0.5s;
}
.glas--3 {
  right: 0;
}
.glas--3::after {
  animation-delay: -1.5s;
}

.bloodTest__holder {
  position: absolute;
  bottom: 0;
}

.microscope {
  position: absolute;
  width: 34%;
  max-width: 250px;
  bottom: 24vw;
  left: 19%;
  background-color: red;
}
@media (min-width: 768px) {
  .microscope {
    width: 25%;
    bottom: 7vw;
  }
}
.microscope .microscope__microscope {
  position: absolute;
  bottom: 0;
}
.microscope .microscope__eye {
  width: 20%;
  right: 12%;
  margin-bottom: 60%;
  animation: microscope--eye 3s ease-in-out infinite alternate;
}
.microscope .microscope__button {
  width: 20%;
  position: absolute;
  left: 39%;
  bottom: 15vw;
  animation: microscope--button 3s ease-in-out infinite alternate;
}
.microscope .microscope__glas {
  position: relative;
  width: 30%;
  height: 1vw;
  right: 5%;
  margin-bottom: 15.2vw;
}
@media (min-width: 768px) {
  .microscope .microscope__glas {
    margin-bottom: 11.2vw;
  }
}
@media (min-width: 997px) {
  .microscope .microscope__glas {
    margin-bottom: 110px;
  }
}
.microscope .microscope__glas::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #db1212;
  width: 10%;
  height: 1vw;
  right: 15%;
  bottom: 0%;
  margin-bottom: 45%;
  transform-origin: center;
}