html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #df8f97; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

p,
a,
h2 {
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 1.5em;
  font-size: 1em; }

a p {
  display: inline; }

.underlined {
  border-bottom: solid 3px; }

button {
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  border: none;
  padding: 0; }
  button:hover {
    border-bottom: solid 3px; }
  button:active {
    color: black; }
  button:focus {
    border: none;
    outline: none; }

.container-fluid {
  padding: 20px; }

.arrorw--down {
  width: 7%;
  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
  z-index: 3;
  left: 46.5%; }

section {
  position: relative;
  margin: 0 auto; }
  section .intro__content {
    width: 100%;
    position: absolute;
    bottom: 0; }
    section .intro__content__illustration {
      position: absolute; }
  section .text {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%; }
    @media (min-width: sm) {
      section .text {
        margin-left: 156px;
        margin-top: 150px;
        width: 50%;
        max-width: 600px; } }

.intro {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 100%; }
  .intro .intro__illustration {
    position: absolute; }
    .intro .intro__illustration--boot {
      width: 30%;
      margin-top: -17%;
      right: 15%;
      transform-origin: 50% 15%;
      animation: boat 1.5s ease-in-out infinite alternate; }
    .intro .intro__illustration--stadt {
      width: 80%;
      margin-left: 10%;
      margin-top: -39.5%; }
    .intro .intro__illustration--welle {
      width: 110%;
      height: auto;
      margin-left: -1%;
      animation: wave 1.5s ease-in-out infinite alternate; }
      .intro .intro__illustration--welle--1 {
        bottom: -5px; }
        @media (min-width: sm) {
          .intro .intro__illustration--welle--1 {
            bottom: -14px; } }
      .intro .intro__illustration--welle--2 {
        margin-top: -16%;
        animation-delay: -0.75s; }
      .intro .intro__illustration--welle--3 {
        margin-top: -22%; }

@keyframes boat {
  from {
    transform: rotate(5deg); }
  to {
    transform: rotate(-5deg); } }
@keyframes wave {
  from {
    margin-left: -1%; }
  to {
    margin-left: -4%; } }
@keyframes sac {
  to {
    transform: rotate(-10deg); } }
@keyframes sac--klein {
  to {
    transform: rotate(10deg); } }
.section--last {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .section--last__illustration {
    position: absolute; }
    .section--last__illustration--unterwasser {
      bottom: 0;
      width: 100vw; }
    .section--last__illustration--sack_klein {
      width: 8%;
      right: 24%;
      bottom: 200px;
      animation: sac--klein 2s ease-in-out -1s infinite alternate; }
    .section--last__illustration--luft {
      bottom: 250px;
      right: 29%;
      width: 1.5%; }
    .section--last__illustration--sack_gross {
      width: 20%;
      margin-left: 22%;
      bottom: 70px;
      animation: sac 2s ease-in-out infinite alternate; }

/*# sourceMappingURL=style.css.map */
